@font-face {
  font-family: "iconfont"; /* Project id 4284303 */
  src: url('@/static/iconfont/iconfont.woff2?t=1697336728192') format('woff2'),
       url('@/static/iconfont/iconfont.woff?t=1697336728192') format('woff'),
       url('@/static/iconfont/iconfont.ttf?t=1697336728192') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucangyishoucang:before {
  content: "\e618";
}

.icon-a-shoucang-weishoucang:before {
  content: "\e6f2";
}

.icon-guanyuwomen:before {
  content: "\e682";
}

.icon-aixin:before {
  content: "\e75c";
}

.icon-download:before {
  content: "\e601";
}

